project_id = "vouch"
vouch_tag = "1.8.0"
kubernetes_version = "1.29"

vpc_cidr = "10.0.0.0/16"
azs = ["us-east-1a", "us-east-1b"]
public_subnets = ["10.0.90.0/24", "10.0.85.0/24"]
private_subnets = ["10.0.96.0/24", "10.0.95.0/24"]

# Compute configuration
compute_size = "t2.small"
default_tags = ["ssh"]

ec2_ami = "ami-0ec3d9efceafb89e0" # Debian 12

compute = {
  # bastion should always have a proxy installed so it can be used in an ssh tunnel for kubectl
  # it should also be in the same region as the EKS cluster.
  bastion = { region = "us-east-2", zone = "b", extra_tags = ["firewall-dirk"], hostname="a", metadata_startup_script = <<EOF
#! /bin/bash
apt-get update
apt-get install -y tinyproxy
grep -qxF 'Allow localhost' /etc/tinyproxy/tinyproxy.conf || echo 'Allow localhost' >> /etc/tinyproxy/tinyproxy.conf
systemctl restart tinyproxy
EOF
  }
}

# Bastion host SSH config
ssh_user = "admin"
ssh_key_name = "keypairname"  # name of the Key Pair already imported/created in EC2
ssh_private_key = "/path/to/private.pem"

# If extra arguments are needed for the ssh command to connect to bastion host (e.g: going through a Jump host, they can be added here).
ssh_extra_args = ""

# Cloudflare is used to set the DNS records and generate LetsEncrypt ssl certs for the mev-boost service.
acme_email = "user@example.com"
cf_api_token = "theapitoken"
cf_domain = "example.com"

mev_subdomain = "mev-vouchdirk"

ssh_in_addresses = ["0.0.0.0/0"]
vouch_https_in_addresses = ["0.0.0.0/0"]
